<?xml version="1.0"?>

<configuration>
    <connectionStrings>
        <add name="Jet2DatabaseTemplate"
             providerName="System.Data.SqlClient"
             connectionString="data source=jet2dev;initial catalog=Jet2DatabaseTemplate;integrated security=True;" />
    </connectionStrings>
</configuration>