<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="Off" xdt:Transform="SetAttributes" />
    <compilation debug="true" xdt:Transform="SetAttributes" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
	<security xdt:Transform="Insert">
      <authentication>
        <anonymousAuthentication enabled="false"/>
        <windowsAuthentication enabled="true"/>
      </authentication>
    </security>
    <rewrite>
      <rules>
        <rule name="Redirect To Root" xdt:Locator="Match(name)">
          <action url="/app-name-template/" xdt:Transform="SetAttributes" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>