@model Cmx.Timesheet.Website.Models.Timesheet.CreateTimesheetViewModel

@{
    ViewBag.Title = "CreateTimesheet";
}

@using (Html.BeginForm("Create", "Timesheet"))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => Model.StartDate, "DateTimeEditorView")

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "User")
</div>

