@using Cmx.Timesheet.DomainModel
@using Cmx.Timesheet.Website.App_Code
@model Cmx.Timesheet.Website.Models.UserDashboardViewModel

@{
    ViewBag.Title = "Welcome!";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <p>Current timesheet</p>
                @Html.ActionLink("Create", "CreateTimesheet", null, new { @class = "btn btn-primary" })
                or
                @Html.ActionLink("View", "View", "Timesheet", new { id = 0 }, new {@class = "btn btn-primary"})
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                PLACEHOLDER
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                PLACEHOLDER
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                PLACEHOLDER
            </div>
        </div>
    </div>

    @*@Html.EditorFor(m => m.MostRecetntTimesheet)*@

    @*@Html.EditorFor(m => m.WorkDay)*@

    <div class="row">
        <div class="col-sm-12">

            @Html.Partial("TimesheetsListPartial", @Model.Timesheets)


            @*@using (Html.BeginPanel(ContextualHelper.Danger, "TITLE"))
            {
            }0*@

            @*@Bootstrap.Panel(new PanelModel {Context = ContextualHelper.Success, Title = "Testing new panel"})*@



        </div>
    </div>

</div>