<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="EndPointUrl" value="https://cmx-timesheet.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="QZdkZGoUlJawdO6zhAXYLNUxvSuQLAPJhdX7oDriKW3T2W0pdRt7xZD5KobWQVAxCQlbSjsv7EvXoS6AUMiFqw==" />
    <add key="DatabaseId" value="Cmx-Timesheet" />
    <add key="CollectionId" value="Timesheets" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>