<div class="modal" tabindex="-1" role="dialog" id="confirm-modal">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header" [ngClass]="context">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" *ngIf="dismissable"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div [innerHtml]="message"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" *ngFor="let button of buttons" [attr.data-dismiss]="dismissAttrValue(button.closeOnClick)" class="btn" [class]="button.classes" (click)="button.onClick()" [innerText]="button.text"></button>
                </div>
            </div>
        </div>
    </div>
</div>