.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.modal-header {
   color:white;
   padding:5px 5px 5px 15px;
}

.modal-title{
    color: white;
}

.modal-body{
    font-size: 1.3em;
}

.info{
  background-color: #029acf;
}

.warn{
  background-color: #9b479f;
}

.danger{
  background-color: #d9831f;
}