<div class="modal" tabindex="-1" role="dialog" id="j2bi-spinner-modal">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img id="j2bi-spinner-modal-image" [src]="spinnerImage" />
                    <span class="h4" id="j2bi-spinner-modal-message">{{message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>