.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: 250px;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}